

<div class="col-md-3">
<nav class="navbar navbar-left " id="vertical">
<div class="btn btn-group-vertical ">

    <a class="btn btn-default " href={% url 'postfeed:post_home' %} ><span class=""> Home</span></a>
    <a href={% url 'postfeed:feed' %} class="btn btn-default" >News Feed</a>
    <a href={% url 'postfeed:changepref' %} class="btn btn-default">Change Preferences</a>
    <a href={% url 'postfeed:addpost' %} class="btn btn-default" >Post</a>
    <a href={% url 'postfeed:user' %} class="btn btn-default">Your posts</a>


</div></nav>
</div>
