{% extends 'baselogin.html' %}
{% load staticfiles %}
{% block body %}
<br>
<div class="" style="">
    <div class="panel col-md-3 " style="background-color: transparent;">
        <div class="panel-body col-md-11" style="background-color: transparent;border-right:solid">
        <img style="width: 80%;" class="img-responsive" src={% static 'sainath.jpg' %} ><br>
            <span class="text-info text-center col-md-offset-2" style="color: #0f0f0f"><strong>Sai Natha Reddy</strong></span><br>
            <div class="col-md-1" ></div>
        </div></div>
    <div class="panel col-md-3 " style="background-color: transparent">
        <div class="panel-body col-md-11" style="background-color: transparent;border-right:solid">
       <img style="width: 80%" class="img-responsive" src={% static 'dhakar.jpg' %}  ><br>
        <span class="text-info text-center col-md-offset-2" style="color: #0f0f0f"><strong>Brijesh Dhakar</strong></span><br>
        </div></div>
    <div class="panel col-md-3 " style="background-color: transparent">
        <div class="panel-body col-md-11" style="background-color: transparent;border-right:solid">
        <img style="width: 80%" class="img-responsive" src={% static 'namrata.jpg' %}  ><br>
        <span class="text-info text-center col-md-offset-2" style="color: #0f0f0f"><strong>Namrata Bhagat</strong></span><br>
        </div></div>
    <div class=" panel col-md-3" style="background-color: transparent">
        <div class="panel-body col-md-11" style="background-color: transparent;
">
        <img style="width: 80%" class="img-responsive" src={% static 'tushar.jpg' %} ><br>
        <span class="text-info text-center col-md-offset-2" style="color: #0f0f0f"><strong>Tushar Khustule</strong></span><br>
        </div></div>
</div>
    <div class="container-fluid">
 <footer class="col-md-offset-5" style="font-family: 'Book Antiqua';font-size: larger;font-weight: 1000"><span>&copy;Team Pheonix</span></footer>
    </div>
{% endblock %}