

<div class="col-md-1">
<nav class="navbar navbar-left " id="vertical">
<div class="btn btn-group-vertical ">

    <a class="btn btn-default " href={% url 'messaging:index' %} ><span class=""> Home</span></a>
    <a href={% url 'messaging:compose' %} class="btn btn-default" >Compose</a>
    <a href={% url 'messaging:inbox' %} class="btn btn-default">Inbox</a>
    <a href={% url 'messaging:outbox' %} class="btn btn-default" >Outbox</a>
    <a href={% url 'messaging:trash' %} class="btn btn-default">Trash</a>


</div></nav>
</div>
